$color-primary: #0c134f;
$color-secondary: #3bd85e;
$color-tertiary: #ffa559;
$color-white: #fff;

$color-danger: #d64242;

$color-primary-light: #ebfbef;
$color-primary-dark: #020410;

$color-gray-dark: #555a84;
$color-gray-light: #e7e7ed;
