.header {
  h1 {
    font-size: 2rem;
    font-weight: 500;
  }

  button {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      display: inline-block;
    }

    ion-icon {
      color: $color-danger;
    }
  }
}
