.table {
  width: 124.8rem;
  height: 40.4rem;
  margin-top: 3rem;
  background-color: $color-white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);

  &__head {
    border-bottom: 1px solid $color-primary-dark;

    h3 {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  &__history {
    &:nth-child(:last-child) {
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}
