.setting__table {
  //   padding-top: 5rem;
  padding: 5rem;
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40rem;
    padding: 1rem 1.2rem;
    border: 1px solid $color-primary-light;
    margin-bottom: 2rem;
    color: $color-gray-dark;
    border-radius: 10px;
    transition: all 0.3s;

    span {
      display: block;
      font-size: 2rem;
      font-weight: 700;
    }

    ion-icon {
      font-size: 2rem;
      font-weight: 600;
    }

    &:hover {
      border-color: $color-primary;
      color: $color-primary;
    }
  }
}
