.btn {
  background-color: #0c134f;
  display: grid;
  place-items: center;
  padding: 1rem 2rem;
  width: 40rem;
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}

.btn:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}
