.trade {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance {
  width: 40.3rem;
  height: 10rem;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #020410;
}

p {
  font-size: 2rem;
  font-weight: 500;
}

span {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.balIcon {
  font-size: 1.6rem;
  font-weight: 200;
  color: #020410;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  width: 40.3rem;
  height: 10rem;
  background-color: #0c134f;
  color: #fff;
  padding: 3rem 6rem 3rem 6rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

.cardIcon {
  font-size: 3rem;
  background-color: #3bd85e;
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btcIcon {
  font-size: 3rem;
  background-color: #ffa559;
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

th {
  font-size: 1.5rem;
  color: #020410;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #020410;
}

td {
  padding-top: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
}
